body {
    font-family: Arial, sans-serif;
    width: 420px;
    padding: 10px;
    color: black;
  }
  
  h1 {
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  
h2 {
   color: #333;
    font-size: 1.2em;
    margin-bottom: 15px;
  }

  textarea {
    width: 100%;
    height: 200px;
    resize: none;
    margin-bottom: 20px;
    border: 1px solid #333;
  }
  
  select{
    width: 25%;
    height: 32px;
    resize: none;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 4px;
  }

  button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: blue;
  }
  
  #result {
    margin-top: 10px;
  }
  